-i https://pypi.org/simple
aiofiles==0.4.0
aniso8601==7.0.0
async-exit-stack==1.0.1
async-generator==1.10
attrs==19.3.0
certifi==2019.9.11
chardet==3.0.4
click-plugins==1.1.1
click==7.0
cligj==0.5.0
dnspython==1.16.0
email-validator==1.0.5
fastapi[all]==0.42.0
fiona==1.8.11
graphene==2.1.8
graphql-core==2.2.1
graphql-relay==2.0.0
h11==0.8.1
httptools==0.0.13
idna==2.8
itsdangerous==1.1.0
jinja2==2.10.3
markupsafe==1.1.1
munch==2.5.0
promise==2.2.1
pydantic==0.32.2
python-multipart==0.0.5
pyyaml==5.1.2
requests==2.22.0
rx==1.6.1
shapely==1.6.4.post2
six==1.13.0
starlette==0.12.9
ujson==1.35
urllib3==1.25.7
uvicorn==0.10.8
uvloop==0.14.0
websockets==8.1
